<main class="main home-page skeleton-body">
    <section class="intro-section mt-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-2">
                    <div class="intro-slider-container">
                        <owl-carousel
                            carouselClasses="owl-theme slider-container-ratio slider-container-1 owl-nav-inside"
                            [options]="introSlider">
                            <div class="intro-slide intro-slide1" style="background-color: #f2f6f8;">
                                <figure class="slide-image">
                                    <img src="assets/images/home/slides/1.jpg" alt="Intro Slide" width="926"
                                        height="422">
                                </figure>
                                <div class="intro-content">
                                    <h5 class="intro-subtitle font-weight-lighter text-secondary mb-1" contentAnim
                                        aniName="fadeInUpShorter">SUPER SALE</h5>
                                    <h3 class="intro-title font-weight-bold mb-0" contentAnim aniName="fadeInUpShorter">
                                        BRAKE DISCS</h3>
                                    <div class="intro-price font-weight-bold text-secondary" contentAnim
                                        aniName="fadeInUpShorter">
                                        <sup class="font-weight-lighter">UP TO</sup>50% Off
                                    </div>
                                    <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded" contentAnim
                                        aniName="fadeInUpShorter">
                                        SHOP NOW<i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>

                            <div class="intro-slide intro-slide2" style="background-color: #f2f6f8;">
                                <figure class="slide-image">
                                    <img src="assets/images/home/slides/2.jpg" alt="Intro Slide" width="926"
                                        height="422">
                                </figure>
                                <div class="intro-content">
                                    <h5 class="intro-subtitle font-weight-lighter text-secondary" contentAnim
                                        aniName="fadeInUpShorter">SPECIAL OFFER</h5>
                                    <div class="intro-price font-weight-bold text-secondary" contentAnim
                                        aniName="fadeInUpShorter">Save 20%</div>
                                    <h3 class="intro-title font-weight-bold" contentAnim aniName="fadeInUpShorter">FIRST
                                        SERVICE</h3>
                                    <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded" contentAnim
                                        aniName="fadeInUpShorter">
                                        READ MORE<i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </owl-carousel>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row h-100">
                        <div class="col-lg-12 col-sm-6 mb-2">
                            <div class="banner banner-1 banner-overlay banner-overlay-light h-100 mb-0"
                                style="background-color: #c72d2d;">
                                <figure>
                                    <molla-image src="assets/images/home/category/1-1.jpg" alt="Category Banner"
                                        width="454" height="201">
                                    </molla-image>
                                </figure>
                                <div class="banner-content">
                                    <div class="banner-price text-white font-weight-bold">Save 25%</div>
                                    <h3 class="banner-title font-weight-bolder text-white">ALL SEASON TYRES</h3>
                                    <a routerLink="/shop/sidebar/list" class="btn banner-link">
                                        SHOP NOW<i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-6 mb-2">
                            <div class="banner banner-2 banner-overlay banner-overlay-light h-100 mb-0"
                                style="background-color: #222e46;">
                                <figure>
                                    <molla-image src="assets/images/home/category/1-2.jpg" alt="Category Banner"
                                        width="454" height="201">
                                    </molla-image>
                                </figure>
                                <div class="banner-content">
                                    <h5 class="banner-title font-weight-bolder text-white mb-0">HEADLIGHTS<br />AND TAIL
                                        LIGHTS</h5>
                                    <div class="banner-price font-weight-bold text-white">32% Off</div>
                                    <a routerLink="/shop/sidebar/list" class="btn banner-link">
                                        SHOP NOW<i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="icon-box-section">
        <div class="container">
            <owl-carousel carouselClasses="owl-theme" [options]="serviceSlider">
                <div class="icon-box-side">
                    <span class="icon-box-icon text-dark">
                        <i class="icon-truck" style="font-size: 3.4rem;"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title font-weight-bolder">Payment &amp; Delivery</h3>
                        <p class="font-weight-normal">Free shipping for orders over $50</p>
                    </div>
                </div>
                <div class="icon-box-side">
                    <span class="icon-box-icon">
                        <img src="assets/images/home/icons/1.png" width="28" height="28" alt="Icon" />
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title font-weight-bolder">Return &amp; Refund</h3>
                        <p class="font-weight-normal">Free 100% money back guarantee</p>
                    </div>
                </div>
                <div class="icon-box-side">
                    <span class="icon-box-icon">
                        <img src="assets/images/home/icons/2.png" width="28" height="28" alt="Icon" />
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title font-weight-bolder">Quality Support</h3>
                        <p class="font-weight-normal">Alway online feedback 24/7</p>
                    </div>
                </div>
                <div class="icon-box-side">
                    <span class="icon-box-icon">
                        <img src="assets/images/home/icons/3.png" width="28" height="28" alt="Icon" />
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title font-weight-bolder">Join Our Newsletter</h3>
                        <p class="font-weight-normal">10% off by subscribing to our newsletter</p>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </section>

    <section class="category-section popular-categories">
        <div class="container">
            <div class="heading heading-center" contentAnim aniName="blurIn">
                <h2 class="title font-weight-bolder">Explore Popular Categories</h2>
                <p class="title-desc font-weight-normal">Our Entire Product Range</p>
            </div>
            <owl-carousel carouselClasses="owl-theme" [options]="categoriesSlider">
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}">
                            <molla-image src="assets/images/home/category/2-1.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}">BRAKE SYSTEM</a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}">Brake pads</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}">Brake discs</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}">Brake caliper
                                    repair kit</a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'brake'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}">
                            <molla-image src="assets/images/home/category/2-2.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}">FILTERS</a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}">Oil filter</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}">Air filter</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}">Pollen
                                    filter</a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'filters'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}">
                            <molla-image src="assets/images/home/category/2-3.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}">ENGINE</a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}">Car battery</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}">Ignition /
                                    preheating</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}">Oil drain
                                    plug</a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'engine'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}">
                            <molla-image src="assets/images/home/category/2-4.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}">BODY</a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}">Car battery
                                </a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}">Ignition /
                                    preheating</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}">Oil drair plug
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'body'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}">
                            <molla-image src="assets/images/home/category/2-5.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}">DAMPING</a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}">Shock
                                    absorber</a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}">Strut mount
                                </a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}">Coil springs
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'damping'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
                <div class="cat-block">
                    <figure>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}">
                            <molla-image src="assets/images/home/category/2-6.jpg" width="216" height="140"
                                alt="Category"></molla-image>
                        </a>
                    </figure>
                    <div class="cat-content">
                        <h5 class="cat-title font-weight-bolder">
                            <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}">OILS AND FLUIDS
                            </a>
                        </h5>
                        <ul class="cat-list">
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}">Antifreeze
                                </a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}">Brake fluid
                                </a>
                            </li>
                            <li class="cat-item">
                                <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}">Engine oil
                                </a>
                            </li>
                        </ul>
                        <a routerLink="/shop/sidebar/3cols" [queryParams]="{category: 'oils'}"
                            class="btn btn-cat-link"><i class="fas fa-angle-right"></i>More Parts</a>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </section>

    <section class="brand-section pb-6">
        <div class="container">
            <div class="heading heading-center" contentAnim aniName="blurIn">
                <h2 class="title font-weight-bolder">Shop by Brands</h2>
                <p class="title-desc font-weight-normal">The World's Premium Brands In One Destination.</p>
            </div>
            <owl-carousel carouselClasses="owl-theme" [options]="brandSlider">
                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/1.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/2.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/3.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/4.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/5.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/6.png" alt="Brand Name">
                </a>

                <a href="javascript:;" class="brand">
                    <img src="assets/images/brands/7.png" alt="Brand Name">
                </a>
            </owl-carousel>
        </div>
    </section>

    <section class="category-section category-3cols mt-4">
        <div class="container">
            <owl-carousel carouselClasses="owl-theme" [options]="bannerSlider">
                <div class="banner banner-1 banner-display banner-overlay-light">
                    <figure>
                        <molla-image src="assets/images/home/category/3-1.jpg" width="452" height="240"
                            alt="Category Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <div class="banner-price font-weight-bold text-white">Save 32%</div>
                        <h3 class="banner-title font-weight-bolder text-white">ON ALMOST<br />EVERYTHING</h3>
                        <a routerLink="/shop/sidebar/list" class="btn banner-link">
                            SHOP NOW<i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner banner-2 banner-display banner-overlay-light">
                    <figure>
                        <molla-image src="assets/images/home/category/3-2.jpg" width="452" height="240"
                            alt="Category Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <h3 class="banner-title font-weight-bolder text-white mb-0">ENGINE SERVICES<br />UP TO
                        </h3>
                        <div class="banner-price font-weight-bold text-white">20% Off</div>
                        <a routerLink="/shop/sidebar/list" class="btn banner-link">
                            SHOP NOW<i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner banner-1 banner-display banner-overlay-light">
                    <figure>
                        <molla-image src="assets/images/home/category/3-3.jpg" width="452" height="240"
                            alt="Category Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <div class="banner-price font-weight-bold text-white">Save 25%</div>
                        <h3 class="banner-title font-weight-bolder text-white">ANY OIL CHANGE<br />SERVICES</h3>
                        <a routerLink="/shop/sidebar/list" class="btn banner-link">
                            SHOP NOW<i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </section>

    <molla-car-collection [products]="products | catFilter : ['cars']" [loaded]="loaded"></molla-car-collection>

    <div class="container">
        <hr />
    </div>

    <molla-new-collection [products]="products | attrFilter : 'new'" [loaded]="loaded"></molla-new-collection>

    <section class="banner-section" style="background-image: url(assets/images/home/banner/2.jpg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-5 col-md-7 col-sm-8">
                    <div class="banner-content" contentAnim aniName="fadeIn">
                        <h2 class="banner-title font-weight-bold">Why Choose Molla Parts</h2>
                        <ul class="banner-content-list">
                            <li class="banner-content-item">
                                <div class="icon">
                                    <img alt="Icon" src="assets/images/home/icons/icon-medal.png" width="38"
                                        height="41" />
                                </div>
                                <div class="item-content">
                                    <h4 class="item-title font-weight-bolder">High-Quality Branded Auto Parts
                                    </h4>
                                    <p class="font-weight-normal">
                                        Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae
                                        luctus metus libero eu augue.
                                    </p>
                                </div>
                            </li>
                            <li class="banner-content-item">
                                <div class="icon">
                                    <img alt="Icon" src="assets/images/home/icons/icon-truck.png" width="50"
                                        height="35" />
                                </div>
                                <div class="item-content">
                                    <h4 class="item-title font-weight-bolder">Fast Shipping</h4>
                                    <p class="font-weight-normal">
                                        Pede semper est, vitae luctus metus libero eu augue. Morbi purus libero,
                                        faucibus adipiscing, commodo quis, gravida id, est.
                                    </p>
                                </div>
                            </li>
                            <li class="banner-content-item">
                                <div class="icon">
                                    <img alt="Icon" src="assets/images/home/icons/icon-timer.png" width="38"
                                        height="38" />
                                </div>
                                <div class="item-content">
                                    <h4 class="item-title font-weight-bolder">90-Day Returns</h4>
                                    <p class="font-weight-normal">
                                        Semper est, vitae luctus metus libero eu augue. Morbi purus libero,
                                        faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-section">
        <div class="container">
            <div class="heading heading-center" contentAnim aniName="blurIn">
                <h2 class="title font-weight-bolder">What Our Customers Are Saying</h2>
                <p class="title-desc font-weight-normal">Our Customers Love Us</p>
            </div>

            <owl-carousel carouselClasses="owl-theme" [options]="testimonialSlider">
                <blockquote class="testimonial text-center">
                    <div class="marks-ratings-container">
                        <div class="marks font-weight-bold text-secondary">4.7 / 5.0</div>
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div>
                                <span class="tooltip-text">5.00</span>
                            </div>
                        </div>
                    </div>
                    <p class="font-weight-normal">"Sed egestas, ante et vulputate volutpat, eros pede semper
                        est,
                        vitae luctus metus libero eu augue. Morbi purus libero,
                        faucibus adipiscing, commodo quisest."
                    </p>

                    <div class="commenter font-weight-normal">Kevin Francis, Manager Hugo Studio</div>
                    <div class="avatar">
                        <img src="assets/images/home/icons/testimonial-1.png" width="63" height="32" alt="Avatar">
                    </div>
                </blockquote>

                <blockquote class="testimonial text-center">
                    <div class="marks-ratings-container">
                        <div class="marks font-weight-bold text-secondary">4.9 / 5.0</div>
                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 100%;"></div>
                                <span class="tooltip-text">5.00</span>
                            </div>
                        </div>
                    </div>
                    <p class="font-weight-normal">"Morbi purus libero, faucibus adipiscing, commodo quisest. Sed
                        lectus.
                        Praesent elementum hendrerit tortor. Sed semper lorem at felis."
                    </p>

                    <div class="commenter font-weight-normal">Dominic Hester, The Oceanic</div>
                    <div class="avatar">
                        <img src="assets/images/home/icons/testimonial-2.png" width="101" height="39" alt="Avatar">
                    </div>
                </blockquote>
            </owl-carousel>
        </div>
    </section>

    <div class="container">
        <hr />
    </div>

    <molla-blog-collection [posts]="posts" [loaded]="loaded"></molla-blog-collection>
</main>